--- 
- name: Check if RBAC Access is Enabled for Palo Alto Firewall Administrator Accounts
  hosts: "PRODUCTIONFIREWALL"
  connection: local
  gather_facts: false

  vars:
    device:
      ip_address: "{{ ip_address }}"
      username: "{{ username }}"
      password: "{{ password }}"

  collections:
    - paloaltonetworks.panos

  tasks:
    - name: Retrieve admin users from config
      paloaltonetworks.panos.panos_type_cmd:
        provider: "{{ device }}"
        cmd: show
        xpath: "/config/mgt-config/users"
      register: users_config

    - name: Display retrieved admin users XML
      ansible.builtin.debug:
        var: users_config.stdout_xml

    
