--- 
- name: Check if RBAC Access is Enabled for Palo Alto Firewall Administrator Accounts
  hosts: "PRODUCTIONFIREWALL"
  connection: local
  gather_facts: false

  vars:
    device:
      ip_address: "{{ ip_address }}"
      username: "{{ username }}"
      password: "{{ password }}"

  collections:
    - paloaltonetworks.panos

  tasks:
    - name: check adminstrator on the device
      paloaltonetworks.panos.panos_op:
        provider: '{{ device }}'
        cmd: 'show admins all'
      register: admin_accounts


    - name: Display all administrator accounts
      ansible.builtin.debug:
        msg: "Administrator accounts: {{ admin_accounts.stdout }}"

    
