---

- name: Get PAN-OS admin users config and filter non-role-based accounts  
  hosts: PRODUCTIONFIREWALL
  connection: local
  gather_facts: false

  vars:
    device:
      ip_address: "{{ ip_address }}"
      username: "{{ username }}"
      password: "{{ password }}"

  collections:
    - paloaltonetworks.panos

  tasks:
    - name: Get facts
      paloaltonetworks.panos.panos_facts:
        provider: '{{ device }}'
        gather_subset: ['ha']
      register: ha_status

    - name: output data for ha
      debug:
        var: ha_status
